@import "~bootstrap/scss/bootstrap";

body{
    background-color: rgb(73, 54, 54);
}

h1{
    color: rgb(157, 44, 44); 
    background-color: black;
    text-align: center;
    border-style:dashed ;
}

th, td{color: rgb(157, 44, 44); }

